<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.springboot.mapper.UsersMapper">
    <select id="getAllUsers" resultType="com.chen.springboot.entity.User">
        SELECT * FROM users
    </select>

    <select id="getUserById" parameterType="int" resultType="com.chen.springboot.entity.User">
        SELECT * FROM users WHERE id = #{userId}
    </select>

    <insert id="createUser" parameterType="com.chen.springboot.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(username, password, email, phone)
        VALUES(#{username}, #{password}, #{email}, #{phone})
    </insert>

    <update id="updateUser" parameterType="com.chen.springboot.entity.User">
        UPDATE users
        SET username = #{username},
            password = #{password},
            email = #{email},
            phone = #{phone}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM users WHERE id = #{userId}
    </delete>
</mapper>



